header {
  background-color: red;
}

header > h1 {
  display: inline-block;
}

header span {
  text-align: right;
  color: white;
}

h1 {
  color: white;
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

h2 {
  color: white;
  background-color: black;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  word-spacing: 10px;
  /* text-decoration: underline; */
}

h3 {
  color: black;
  font-size: 26px;
}

p {
  max-width: 800px;
  /* padding-top: 10px; */
}
